.detail-header {
    font-size: 18px;
    border-bottom: 0.5px solid #333333;
    padding-bottom: 1.3rem;
    margin: 1.2rem 0.5rem;
   
}
.detail-deets {
    
    display: grid;
    place-items: center;
}
.detail-img {
    width: 85%;
    margin-top: 1rem;
}
.detail-info {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 1.3rem;
    color: #333333;
    
}
.detail-second {
    div:nth-child(2) {
        margin: 2.3rem 1.5rem;
        
        > p {
            margin-bottom: 1.6rem;
            color: #616161; 
            font-size: 16px;
            font-weight: 400;
           
        }
        .creator {
            color: black;
            font-weight: 700;
           
        }
        .creator-name {
            color: #006CA2;
            font-weight: 400;
            
        }


    }
}
.cart-controls {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    
    * {
        margin: auto 0.5rem;
        font-size: 30px;
        color: #333333;
        font-weight: 500;
    }
    
}

.add-to-cart {
    background: #3341C1;
    border-radius: 4px;
    width: 214.14px;
    height: 57.5px;
    color: white;
    border: none;
    font-size: 17.2px;
    transition: all 0.2s linear;
    &:hover {
        background: #4c5ad4;
    }

}
.detail-btn {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    
}
.like {
    border: 1px solid #161616;
    border-radius: 4px;
    width: 66px;
    height: 57px;
    background-color: white;
    margin-left: 1.2rem;
    transition: all 0.2s linear;
   
    &:hover {
        background: #f9f9f9;
    }
}

.detail-dropdown {
    margin: auto 0.5rem;
   padding-left: 1.5rem;
   height: 60px;
   border-top: 0.5px solid #333333;
   display: flex;
   align-items: center;
   font-size: 18px;
   color: #333333;
   &:nth-of-type(5) {
    border-bottom: 0.5px solid #333333;
    margin-bottom: 2rem;
   }
}

@media only screen and (min-width: 760px) {
    #marketplace-detail {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
        .detail-header {
            border-bottom: 0;
            font-size: 24px;
            margin-top: 3rem;
        }
    }
    .detail-card {
        display: flex;
        border: 1px solid #333333;
        margin-left: 0.5rem;
        margin-top: 3rem;
        width: 100%;
    }
    .detail-img {
        width: 525px;
        height: 926px;
        margin: 2rem 1rem;
        background-size: cover;
        
        
    }
    .detail-second {
        border-left: 1px solid #333333;
    }

    .detail-name {
        text-transform: capitalize;
        font-size: 46px;
        font-weight: 700;
    }
    .detail-card-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #333333;
        width: 637px;
        height: 100px;
    }
}