
.centerize {
    display: flex;
    justify-content: center;
    align-items: center;
}



.cart-nav {
    margin-bottom: 2rem;
    margin-left: 0.5rem;
   * {
    color: #BCB7B7;
    font-weight: 500;
    font-size: 16px;
   
    }
    :last-child {
        color: #333333;
    }
}
#shopping-cart {
   
    
    > :nth-child(2) {
        background: #3A3A3A;
        width: 80%;
        height: 50px;
        margin: 2.5rem auto 4rem;
        border-radius: 40px;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        
        //padding: 0 2rem;
        > span {
            width: 110px;
            height: 38px;
            border-radius: 27px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .clicked {
        background: white;
        color: #000000;
        animation: fadeIn 0.5s linear;

    }
    .unclicked {
        background: transparent;
        color: white;
        transition: all 0.5s linear;
        
        
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#cart-head {
    .hide-mobile {
       
        flex-direction: row;
    }
}

.cart-img {
    
    width: 125px;
    height: 125px;
    background-position: center;
    background-repeat: no-repeat;
   margin-right: 0.6rem;
}
.cart-x, .cart-card {
    display: flex;
}
.cart-cards {
    
    margin-bottom: 110%;
   
}
.cart-card {
    justify-content: space-between;
    margin: 3.5rem 0.3rem;
}
.cart-details {
    :first-child {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 1.5rem;
    }
    h4 {
        margin-bottom: 0.5rem;
        font-weight: 700;
        font-size: 22px;
    }
}
.change-quantity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 127px;
    height: 32px;
    border: 1px solid #808080;
    border-radius: 10px;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    
    :nth-child(2) {
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        

    }
   
    > * {
        font-weight: 500;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        padding: 0.7rem;
    }
}
.cart-y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}
.remove-item {
    width: 40px;
    height: 40px;
    margin-right: 0.8rem;
}
.cart-price {
    font-weight: 700;
    font-size: 22px;
    color: #292929;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
   
}
.checkout {
   
    //position: fixed;
    //z-index: 1000;
    bottom: 0;
    width: 100%;
    background-color: white;
   
    
    :first-child > div {
        display: flex;
       
        justify-content: space-between;
        margin-top: 1.3rem;
        width: 100%;
        font-size: 20px;
        color: #888888;
        //padding: 0 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        :last-child {
            color: #292929;
            font-weight: 600;
        }
    }
    > :last-child {
        padding: 1rem;
    }
}
.grand-total {
    border-top: 1px dashed #888888;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.last-buttons {
   
    flex-direction: column;
    @extend .centerize;
    font-size: 18px;
    margin-bottom: 1.5rem;
    .hide-mobile {
        display: none;
    }
    .hide-desktop {
        display: flex;
    }
    .blue, .confirm-payment {
        
        background: #3341C1;
        border-radius: 4px;
        width: 278px;
        height: 59.01px;
        color: #fff;
        @extend .centerize;

    }
    a:last-child {
       color: #006CA2;
       margin-top: 1.3rem;
       font-weight: 400;
        
        border-bottom: 1px solid #006CA2;

    }
}

@media only screen and (min-width: 760px) {
    #shopping-cart {
       // padding: 0 6rem;
        
    
        > :nth-child(2) {
            display: none;
        }}

    .cart-animation {
        display: flex;
        flex-direction: row;
        padding: 2rem 6rem;
        justify-content: space-between;
        animation: fadeIn 0.4s linear;
    }
    .cart-cards {
        margin-bottom: 0;
    }
    .checkout {
        position: relative;
        background-color: transparent;
        display: block;
    }
    .cart-img {
        width: 196px;
        height: 196px;
        margin-right: 1rem;
        
    }
    .change-quantity {
        border: none;
       > * {
        
        font-weight: 500;
        font-size: 32px;
       }
        :nth-child(2) {
            border: none;
        }
    }
    .cart-cards {
        margin-top: 1.5rem;
    }
    .cart-price {
        font-size: 36px;
        font-weight: 400;
        color: #292929;
    }
    .cart-details {
        
        h4 {
            font-size: 24px;
            
        }
        :nth-child(4) {
            font-size: 20px;
        }
        :nth-child(4), .cart-artist {
            font-size: 24px;
            color: #888888;
            margin-top: 1.4rem;
        }
        :nth-child(4) {
            font-size: 20px;
        }
    }
    .cart-size {
        color: #292929;
        font-size: 20px;
        font-style: normal;
        margin-left: 0.5rem;
    }
    .cart-card {
        margin: 2.5rem 0.3rem ;
        border-top: 1px solid #dcdcdc;
        padding-top: 3rem;
        &:last-child {
            border-bottom: 1px solid #dcdcdc;
            padding-bottom: 3rem;
            margin-bottom: 0;

        }
    }
    .checkout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
        width: 100%;
        grid-column-gap: 2rem;
        margin-bottom: 2rem;
        //font-size: 28px;
        
        :first-child {
            grid-column: 2;
            grid-row: 1;
            
        }
    }
    .last-buttons {
        margin-bottom: 1.5rem;
        .hide-desktop {
            display: none;
        }
        .hide-mobile {
            display: flex;
        }
        .blue, .confirm-payment {
            max-width: 534px;
           width: 100%;
            height: 107px;
            font-size: 32px;
            margin-bottom: 1rem;
        }
        :last-child {
            font-size: 28px;
            //margin-top: 24rem;
        }
    }
    
    .checkout-first > div > span {
        font-size: 28px;
    }
    
}




