#payment-details {
    margin-bottom: 3.5rem;
    animation: fadeIn 0.4s linear;
   
    // * {
    //     color: #747474;
    // }
    p {
        line-height: 157.6%;
        //font-size: 16px;
        margin-left: 0.8rem;
        margin-bottom: 1.7rem;
        //color: #747474;
    }
    label {
        font-size: 18px;
    }

    form {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0 0.7rem;
        color: #747474;
        

        input[type='text'] {
            height: 50px;
            background: #ebe9e9;
            border: 0.5px solid #c7c7c7;
            border-radius: 10px;
            text-indent: 1rem;
            margin-bottom: 1.7rem;
            margin-top: 1rem;
            font-size: 18px;
             

            &::placeholder {
                color: #888888;
                font-size: 16px;
            }
          
            &:focus {
                box-shadow: 0 0 0 0.2rem #e4dede;
                outline: none;
                //border: 1px solid #918f8f;
            }
            
        }

        
    }
    .select-wallet {
        color: #292929;
        display: flex;
        margin-left: 1.4rem;
        text-indent: 0.9rem;
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 20px;
        align-items: center;
        margin-bottom: 2rem;
        input {
            accent-color: #28A814;
            width: 20px;
            height: 20px;
        }
       
    }
    .wallet-details {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3rem;
        input[type='checkbox'] {
            margin-right: 0.5rem;
            &:focus {
                box-shadow: 0 0 0 0.2rem #e4dede;
                outline: none;
                
            }
    
        }
       
        //margin-left: 1rem;
        font-size: 16px;
    }

    .confirm-payment {
        width: 279px;
        height: 58px;
        background: #3341C1;
        border-radius: 4px;
        color: white;
        border: none;
        font-size: 17.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
       
    }
    
}
.secure-server {
    display: flex;
    align-items: center;
    margin-left: 0.7rem;
    text-indent: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 16px;
}
.wallet-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

@media only screen and (min-width:760px) {
    #payment-details {
        padding: 1rem 5rem;
        .payment-method {
            font-weight: 500;
            font-size: 28px;
            color: #292929;
        }
    }
    .secure-server {
        font-weight: 400;
        font-size: 24px;
    }
    
}

#payment-summary {
    h3 {
        font-weight: 500;
        font-size: 28px;
        border-bottom: 1px solid #d4d3d3;
        padding-bottom: 2.5rem;
       
    }
   > :nth-child(2), > :nth-child(3) {
        border-bottom: 1px solid #d4d3d3;
        font-size: 24px;
        color: #292929;
    }
    > * {
        padding: 1.5rem 0;
        
        //margin: 1rem 0;
    
        }
    
}
.products-sum {
    margin-top: 1rem;
    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        
        :last-child {
            color: #292929;
            
        }
        
    }
    p {
        color: #747474;
        font-size: 28px;
        
    }
   
    

}

@media only screen and (min-width:760px) {
    #form {
        background: #fcfcfc;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 2rem 1rem;
        
    }
    #payment-details {
        padding: 0 8rem;
        .confirm-payment {
            width: 100%;
            margin: 3.5rem auto 0;
            height: 87px;
            font-size: 32px;
        }
        p {
            
            line-height: 45px;
            margin-bottom: 0;
        }
        .select-wallet {
            font-weight: 500;
            font-size: 28px;
            text-indent: 1.5rem;
        }
    }
    .form-flex {
        margin-top: 1.5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        //justify-content: space-between;
    }
   
    
}

