#payment-details {
    margin-bottom: 3.5rem;
    animation: fadeIn 0.4s linear;
    p {
        line-height: 157.6%;
        //font-size: 16px;
        margin-left: 0.8rem;
        margin-bottom: 1.7rem;
        //color: #747474;
    }
    label {
        font-size: 18px;
    }

    form {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0 0.7rem;
        color: #747474;
        

        input[type='text'], input[type='password'] {
            height: 50px;
            background: #ebe9e9;
            border: 0.5px solid #c7c7c7;
            border-radius: 10px;
            text-indent: 1rem;
            margin-bottom: 1.7rem;
            margin-top: 1rem;
            font-size: 18px;
             

            &::placeholder {
                color: #888888;
                font-size: 16px;
            }
          
            &:focus {
                box-shadow: 0 0 0 0.2rem #e4dede;
                outline: none;
                //border: 1px solid #918f8f;
            }
            
        }

        
    }
    .select-wallet {
        color: #292929;
        display: flex;
        margin-left: 1.4rem;
        text-indent: 0.9rem;
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 20px;
        align-items: center;
        margin-bottom: 2rem;
        input {
            accent-color: #28A814;
            width: 20px;
            height: 20px;
        }
       
    }
    .wallet-details {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3rem;
        input[type='checkbox'] {
            margin-right: 0.5rem;
            cursor: pointer;
            height: 20px;        ////////////////notce this
            width: 23px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            border-radius: 4px;
            background-color: #D9D9D9;
            padding: 0.5rem;
           // margin-right: 0.7rem;
            accent-color: #D9D9D9;
            &:focus {
                box-shadow: 0 0 0 0.2rem #e4dede;
                outline: none;
                
            }
            &:checked {
            
                background-image: url('../../../assets/marketplace/checkmark.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
       
        //margin-left: 1rem;
        font-size: 16px;
    }

    .confirm-payment {
        width: 279px;
        height: 58px;
        background: #3341C1;
        border-radius: 4px;
        color: white;
        border: none;
        font-size: 17.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
       
    }
    
}
.secure-server {
    display: flex;
    align-items: center;
    margin-left: 0.7rem;
    text-indent: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 16px;
}
.wallet-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    svg, img {
        
        width: 42px;
        height: 42px;
        cursor: pointer;
        padding: 0;
        &:hover {
            transform: scale(1.05);
        }
    }

    

}

@media only screen and (min-width:760px) {
    #payment-details {
        padding: 1rem 5rem;
        .payment-method {
            font-weight: 500;
            font-size: 28px;
            color: #292929;
        }
        .select-wallet{
            margin-bottom: 0;
            margin-top: 0;
        }
        label {
            font-size: 24px;
        }
    }
    .secure-server {
        font-weight: 400;
        font-size: 24px;
    }
    
}

#payment-summary {
    h3 {
        font-weight: 500;
        font-size: 28px;
        border-bottom: 1px solid #d4d3d3;
        padding-bottom: 2.5rem;
       
    }
   > :nth-child(2), > :nth-child(3) {
        border-bottom: 1px solid #d4d3d3;
        font-size: 24px;
        color: #292929;
    }
    > * {
        padding: 1.5rem 0;
        
        //margin: 1rem 0;
    
        }
    
}
.products-sum {
    margin-top: 1rem;
    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        
        :last-child {
            color: #292929;
            
        }
        
    }
    p {
        color: #747474;
        font-size: 28px;
        
    }
   
    

}
.wallet-box {
    
    position: relative; 
    input {
        padding-top: 0.55rem;
        
    }
    svg {
        width: 29px;
        height: 29px;
        position: absolute;
        right: 15px;
        top: 40%;
        
    }
}
.desktop {
    display: none;
}
.mobile {
    display: block;
}
@media only screen and (min-width:760px) {
    #form {
        background: #fcfcfc;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 2rem 1rem;
        

       
        
    }
    .wallet-box {
    
        position: relative; 
        svg {
            width: 38px;
            height: 38px;
            right: 20px;
            top: 40%
        }
    }
    #payment-details {
        padding: 0 8rem;
        .desktop {
            display: block;
        }
        .mobile {
            display: none;
        }
        form {
            margin-top: 2.7rem;
            input[type='text'], input[type='password'] {
                height: 60px;
                &::placeholder {
                    font-size: 24px;
                    text-indent: 1.5rem;
                }
                
            }
        }
        .wallet-details {
            font-size: 20px;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
        .confirm-payment {
            width: 100%;
            margin: 3.5rem auto 0;
            height: 87px;
            font-size: 32px;
        }
        p {
            
            
            margin-bottom: 0;
        }
        .select-wallet {
            font-weight: 500;
            font-size: 26px;
            margin-left: 0.5rem;
            text-indent: 1rem;
        }
    }
    .form-flex {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        // align-items: flex-start;
        // justify-content: space-around;
        //justify-content: space-between;
    }
    .form-head {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.7rem;
    }
    .wallet-icons {
        svg, img {
            width: 50px;
            height: 50px;
            
        }

        // &:first-child {
        //     display: none;
           
        // }
        // &:last-child {
        //     display: block;
        // }

    }
     .wallet-icons {
        margin-bottom: 0;
    }

    #payment-summary {
        p {
            line-height: 45px;
        }
    }
    .payment-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.7rem;
    }
   
    
}

