#shipping-details {
    margin-bottom: 4rem;
    form {
        display: flex;
        flex-direction: column;
        padding: 0 0.7rem;
        margin-bottom: 1rem;
    }
    input[type='text'], input[type='email'], input[type='number'], select {
        height: 50px;
        background: #ebe9e9;
        border: 0.5px solid #c7c7c7;
        border-radius: 10px;
        text-indent: 1rem;
        margin-bottom: 1rem;
        font-size: 18px;
        &::placeholder {
            color: #888888;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem #e4dede;
            outline: none;
            //border: 1px solid #918f8f;
        }
    }
    label {
        margin-bottom: 0.9rem;
        margin-top: 1rem;
        color: #888888;
        font-size: 18px;
       
    }
    .updates {
        font-weight: 400;
        font-size: 15px;
        
        display: flex;
        align-items: flex-start;
        margin-top: 0;
        text-align: left;
        
        input {
            margin-right: 0.5rem;
        }
        //justify-content: center;
    }
    
    input[type='checkbox'] {
        margin-bottom: 0.05rem;
    }

    
}



@media only screen and (min-width:760px) {

    #shipping-details {
        input[type='text'], input[type='email'], input[type='number'], select {
            height: 76px;
            font-size: 26px;
        }
        label {
            font-size: 26px;
        }
        .updates {
            font-size: 20px;
        }
    }
    
    
}