#shipping-details {
   // margin-bottom: 4rem;
   //display: none;
   
    .svg {
        position: absolute;
        
        transform: rotateX(180deg);
        width: 22px;
        height: 10px;
        right: 28px;
        bottom: 32.5%;
        transition: all 0.4s linear;
    }
    form {
        display: flex;
        flex-direction: column;
        padding: 0 0.7rem;
        margin-bottom: 1rem;
    }
    input[type='text'], input[type='email'], input[type='number'], select {
        height: 50px;
        background: #ebe9e9;
        border: 0.5px solid #c7c7c7;
        border-radius: 10px;
        text-indent: 1rem;
        margin-bottom: 1rem;
        font-size: 18px;
        color: black;
        &::placeholder {
            color: #888888;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem #e4dede;
            outline: none;
            //border: 1px solid #918f8f;
        }
    }
    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -moz: none;
        
    }
    label {
        margin-bottom: 0.9rem;
        margin-top: 1rem;
        color: #888888;
        font-size: 18px;
       
    }
    .updates {
        font-weight: 400;
        font-size: 15px;
        
        display: flex;
        align-items: flex-start;
        margin-top: 0;
        text-align: left;
        
        input {
            margin-right: 0.5rem;
        }
        //justify-content: center;
    }
    .wallet-dropdown {
        position: absolute;
        width: 60%;
        background-color: white;
        right: 0%;
        bottom: -80px;
        border: 1px solid #747474;
        border-radius: 10px;
        height: 100px;
        z-index: 1;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        animation: fadeIn 0.4s linear;
        img {
            width: 107px;
        }
        * {
            padding-left: 1rem;
            padding-top: 0.25rem;
          //  height: 30px;
            //width: 100%;
           // width: 100%;
        }
        :nth-child(2) {
            border-top: 1px solid #747474;
            border-bottom: 1px solid #747474;
        }
    }
    
    
    input[type='checkbox'] {
        margin-bottom: 0.05rem;
        cursor: pointer;
        height: 23px;
        width: 23px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        border-radius: 4px;
        background-color: #D9D9D9;
        margin-right: 0.7rem;
        accent-color: #D9D9D9;
        &:checked {
            
            background-image: url('../../../assets/marketplace/checkmark.webp');
            background-repeat: no-repeat;
            background-position: center;
            // content: '\2713';
            // //position: absolute;
            // display: block;
            // color: black;
            // text-align: center;
            // left: 0.7rem;
            // top: 0.2rem;
        }
        
       
    }

    
}



@media only screen and (min-width:760px) {

    #shipping-details {
        .svg {
            right: 40px;
            bottom: 33%;
        }
        //display: flex;
        input[type='text'], input[type='email'], input[type='number'], select {
            height: 76px;
            font-size: 26px;
        }
        label {
            font-size: 26px;
        }
        
        .updates {
            font-size: 20px;
            align-items: center;
        }
        .separate {
           
            display: grid;
            grid-template-columns: 49% 49%;
            grid-column-gap: 1rem;
        }
        .wallet-dropdown {
            height: 169px;
            bottom: -150px;
            padding-top: 0.4rem;
            img {
                width: 177px;
            }
           
        }
        
    }
    
    
}