//start marketplace header
#marketplace {
    animation: show 0.4s linear;
}
@keyframes show {
    from {
      opacity: 0; visibility: hidden;
      transition: opacity 1s linear;
    }
    to {
      opacity: 1; visibility: visible;
      transition: opacity 1s linear;
    }
    
  }
.marketplace-nav {
    font-size: 18px;
    color: #BCB7B7;
    margin-left: 0.3rem;
    font-weight: 500;
    p {
        font-size: 16px;
        font-style: italic;
        color: #BCB7B7;
        margin-top: 1.6rem;
        margin-bottom: 0.7rem;
        font-weight: 400;
    }
}
.sort {
    display: flex;
    background-color: white;
    //width: 100%;
    height: 60px;
    border-radius: 15px;
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    margin: 1.2rem 0.4rem;
    padding: 1.2rem;
    font-size: 18px;
    //margin-right: 7rem;
    .hide-desktop {
        svg {
            width: 14px;
            margin-left: 0.85rem;
            transform: rotateX(180deg);

        }
    }
}
.marketplace-sort {
    svg {
        transform: rotateX(180deg);
        margin-left: 0.85rem;
        width: 14px;
    }
}

@media only screen and (min-width:760px) {
 #marketplace { 
    padding: 3rem 6rem;
    }

    .marketplace-head {
        > div {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            
           

            input {
                width: 215px;
                height: 60px;
                border-radius: 15px;
                border: none;
                background: #F4F2F2;
                font-size: 24px;
                padding-left: 1.5rem;
                &::placeholder {
                    color: #999999;
                }
                &:focus {
                    box-shadow: 0 0 0 0.2rem #e4dede;
                    outline: none;
                    
                }
            }
        }
    }
    .sort {
        width: 913px;
        height: 91px;
        font-size: 24px;
        margin-left: 4rem;
        padding-left: 2rem;
       
       
    }
    .marketplace-sort {
        
        border: 1px solid #bfbfbf;
        width: 191px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
    .flex {
        display: flex;
    }
}


//end market place header  

//start artwork section

.art-img {
    //height: 384px;
    width: 100%;
}
.artworks {
    width: 100%;
    padding: 0.3rem 1.2rem;
}
.deets {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 3rem;
   // width: 100%;
   
}

.flex {
    width: 100%;
}

@media only screen and (min-width:760px) {
    .filter-icon {
        display: flex;
       padding-bottom: 1rem;
        align-items: center;
        font-size: 32px; 
        border-bottom: 6px solid #AFB091;
        border-radius: 4px;
        margin-bottom: 4rem;
        width: 244px;
        img {
            margin-right: 0.8rem;
        }
    }

    .accordion-head {
        height: 50px;
        //background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-size: 28px;
        margin-bottom: 0.7rem;
       
    }
    .by-price {
        
        position: relative;
        * {
            margin-top: 1rem;
        }
        input {
            width: 90%;
            margin-left: 1.7em;
            margin-top: 3.5rem;
            height: 5px;
            appearance: none;
            background-color: #B8BCB5;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            background-repeat: no-repeat;
            background-image: linear-gradient(115deg, black, black);
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background-color: black;
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
        }
        .slider-thumb {
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid black;
            bottom: -2.8px;
            left: 0px;
            

        }
    }
    .art-card {
        background-color: white;
        height: 414px;
        width: 269px;
        display: grid;
        place-items: center;
        box-shadow: 0px 34px 68px rgba(217, 225, 244, 0.36);
        border-radius: 15px;
       
       
        
    }
    
    .drop {
        transition: all 0.4s linear;
        transform: rotateX(180deg);
    }
    .artworks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
        grid-gap: 1.35rem;
        grid-row-gap: 2rem;
        margin-left: 2.3rem;
        margin-top: 2rem;
        padding: 0.3rem 0;
    }
    .art-img {
        width: 241px;
        height: 280px;
        border-radius: 8px;
        
        
    }
    @keyframes slide {
        from {
            height: 0%;
        }
        to {
            height: 100%;
        }
    }
    
    .accordion-text {
        display: flex;
        flex-direction: column;
        transition: all 0.35s linear;
        overflow: hidden;
        font-size: 24px;
        
        label:first-child {
            
            margin-top: 0.5rem;
        }
        
        label {
            
            display: flex;
            align-items: flex-start;
            
            text-indent: 0.5rem;
            margin-top: 0.5rem;
            
        }

       input[type='checkbox'] {
            cursor: pointer;
            height: 26px;
            width: 26px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            border-radius: 4px;
            background-color: #D9D9D9;
            margin-right: 0.7rem;
            accent-color: #D9D9D9;
            &:checked {
                
                background-image: url('../../assets/marketplace/checkmark.svg');
                background-repeat: no-repeat;
                background-position: center;
                // content: '\2713';
                // //position: absolute;
                // display: block;
                // color: black;
                // text-align: center;
                // left: 0.7rem;
                // top: 0.2rem;
            }
            
           
        }
        


        label {
            position: relative;
            margin-bottom: 0.7rem;
            display: flex;
            align-items: center;
            font-size: 24px;
        }
        
    }
    .artist {
        * {
            margin-top: 1.2rem;
            
           
        }
    }
    .under-line {
        border-bottom: 2px solid black;
        width: 35px;
    }
    .deets {
        flex-direction: column;
        width: 100%;
        margin: 0 0 0 1.7rem;
        :first-child {
            font-size: 21px;
            font-weight: 400;
           
        }
        :last-child {
            font-size: 28px;
            font-weight: 700;
            margin-top: 2.5rem;
        }
    }
    .see-more {
        margin-top: 8rem;
        font-size: 30px;
        font-weight: 500;
        width: 249px;
        height: 73px;
        border:  1px solid #333333;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//end artwork section

.load-more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 20px;
    .arrow {
        width: 45px;
        height: 45px;
        border: 1px solid #616161;
        border-radius: 50%;
        padding: 0.55rem;
        margin: auto 1.2rem auto 0.8rem;
    }
}


@media only screen and (min-width:760px) {
    .load-more {
        display: none;
    }
    
}

