*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  scrollbar-color: red;
  font-family: 'Satoshi', sans-serif;
  
}

@keyframes show {
  from {
    opacity: 0; visibility: hidden;
    transition: opacity 1s linear;
  }
  to {
    opacity: 1; visibility: visible;
    transition: opacity 1s linear;
  }
  
}

body {
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
 // appearance: none;
  //border: 1px solid #4693ED;
  //background: red;
 // appearance: none;
}
